/* body { position: relative; } */			
#fauxdrop {

	#fauxMemb {
		position: relative; 

		.faux_drag { 
			position: absolute; 
			width: 60px; 
			height: 60px; 
			
			color: #FFFFFF; 
			font: bold 16px Helvetica,Arial,Sans-serif; 
			text-align: center; 
			background-color: #AABBFF; 
			border: 3px solid #898989; 
			margin-left: -30px; 
			margin-top: -30px; 
			
			left: 30px; 
			top: 30px; 
		}

		#Brooke_fxDrg { left: 30px; top: 30px; background: #000000 url(../img/jollyRMugiwara/Brooke.jpg) no-repeat 6px 2px; } 
		#Franky_fxDrg { left: 75px; top: 50px; background: #000000 url(../img/jollyRMugiwara/Franky.jpg) no-repeat 6px 2px; } 
		#Robin_fxDrg { left: 90px; top: 70px; background: #000000 url(../img/jollyRMugiwara/Robin.jpg) no-repeat 6px 2px; }

		#Sanji_fxDrg { left: 30px; top: 30px; background: #000000 url(../img/jollyRMugiwara/Sanji.jpg) no-repeat 6px 2px; } 
		#Chopper_fxDrg { left: 75px; top: 50px; background: #000000 url(../img/jollyRMugiwara/Chopper.jpg) no-repeat 6px 2px; } 
		#Usopp_fxDrg { left: 90px; top: 70px; background: #000000 url(../img/jollyRMugiwara/Usopp.jpg) no-repeat 6px 2px; }

		#Zoro_fxDrg { left: 30px; top: 30px; background: #000000 url(../img/jollyRMugiwara/Zoro.jpg) no-repeat 6px 2px; } 
		#Nami_fxDrg { left: 75px; top: 50px; background: #000000 url(../img/jollyRMugiwara/Nami.jpg) no-repeat 6px 2px; } 
		#Luffy_fxDrg { left: 90px; top: 70px; background: #000000 url(../img/jollyRMugiwara/Luffy.jpg) no-repeat 6px 2px;  }

	}

}

